// Nuetrals
$white: #fff;
$black: #000;
$light-gray: #eee;
$transparent: rgba(0, 0, 0, 0);
$overlay: rgba(0, 0, 0, .3);

// Palette
$dark-purple:  #2f1b41;
$red-wine:     #872341;
$red-medium:   #00BFFF;
$red-bright:   #f05941;
